# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
.env

# generated native folders
/ios
/android
/notification_impl.md

/build-1777208785617_dev.ipa
/build-1777213149167_dev.apk
/build-1777222376569.tar.gz
/build-1777374754844.tar.gz
/build-1777400429265.apk
/build-1777469437437.ipa
/build-1777473293075.ipa
/build-1777482401435.ipa
/build-1777535300965.apk